################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstAndriodApp/obj
/FirstAndriodApp/bin/Debug
/FirstAndriodApp/FirstAndriodApp.csproj.user
